{% extends "connectedTemplate.html" %}

{% block extraNav %}
<nav class="navbar navbar-expand-lg navbar-secondary bg-secondary py-1" data-bs-theme="dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#app-navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="app-navbar">
            <ul class="nav nav-tabs w-100">
                <li class="nav-item">
                  <a class="nav-link text-white" href="factures_info">Info Facture</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/users">Info User</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="/monitoring_info">Monitoring application</a>
                  </li>
              </ul>
        </div>
    </div>
</nav>
{% endblock %}