{% extends "connectedTemplate.html" %}

{% block main %}
<div class="container mt-5">
    <h2>Image Split Result</h2>

    {% for split in ocrInfo %}
    <div class="row">
        <!-- First image and text -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <img src="data:image/png;base64,{{ split.image }}" class="card-img-top" alt={{ split.description }}>
                <div class="card-body">
                    <p class="card-text">{{ split.text }}</p>
                </div>
            </div>
        </div>
    {% endfor %}

    <a href="/" class="btn btn-secondary">Upload Another Image</a>
</div>

{% endblock %}