<!DOCTYPE html>
<html>

<head>
    <title>OCR - Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class ="card-header">
                        <h5>Connexion</h5>
                    </div>
                    <div class="card-body">
                      <form id="login-form" method="POST" action="/auth/jwt/login">
                        <div class="mb-3">
                            <label for="entreremail" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="entreremail" placeholder="name@example.com">
                          </div>
                          <div class="mb-3">
                            <label for="motdepasse" class="form-label">mot de passe</label>
                            <input type="password" class="form-control" id="motdepasse" placeholder="password"></input>
                          </div>
                          <a type="submit" href="#" class="btn btn-primary">Se connecter</a>
                      </form>
                    </div>
                  </div>
            </div>
        </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="error-toast" class="toast align-items-center text-bg-primary border-0" role="alert"
            aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div id="error-toast-body" class="toast-body">
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', path='/js/login.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>