{% extends "connectedTemplate.html" %}

{% block main %}
<h2>Upload Image</h2>
<form action="/display-ocr/" method="post" id ="uploadForm" enctype="multipart/form-data">
    <div class="input-group">
        <input type="file" class="form-control" id="inputGroupFile04" name="image" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
        <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04" onclick="setAction('/autoOCR');">Upload</button>
        <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04" onclick="setAction('/display-ocr');">Upload Manually</button>

      </div>
</form>

<script>
  function setAction(actionUrl) {
      // Set the form action based on the button clicked
      document.getElementById('uploadForm').action = actionUrl;
  }
</script>
{% endblock %}